<!DOCTYPE html>
<html>
<head>
    <title>game-of-life</title>
    <link href="game-of-life.css" type="text/css" rel="stylesheet" />

    <script src="vue.js" defer></script>
    <script src="game-of-life.js" defer></script>
</head>
<body>
    <section id="app">
        <game-of-life v-bind="{width,height}"></game-of-life>
    </section>
    <section id="options">
        <label for="size">size</label>
        <input type="number" name="size" v-model="size" />
        <label for="frameskip">frameskip</label>
        <input type="number" name="frameskip" v-model="frameskip" />
        <label for="fps">fps</label>
        <input type="number" name="fps" v-model="fps" />
        <button style="grid-column-start:1;grid-column-end:3">apply</button>
    </section>
</body>
</html>